.header {
  padding: 15px 8px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
