<footer class="footer">
  <div class="container">
    <address class="info">
      <div class="column">
        <div>Mentor:</div>
        <a href="https://github.com/PoMaKoM" target="_blank" rel="noreferrer">
          Roman Kamarov
        </a>
      </div>

      <div class="column">
        <div>Author:</div>
        <ul class="info__box">
          <li>
            <a href="https://github.com/Wolf-Den1994" target="_blank" rel="noreferrer">
              Denis Karazan
            </a>
          </li>
        </ul>
      </div>

      <div class="column">
        <a class="rss" href="https://rs.school/" target="_blank" rel="noreferrer">
          <img src="../../../assets/icons/rss.svg" alt="The Rolling Scopes School" />
          <span class="rssYear">&apos;22</span>
        </a>
      </div>
    </address>
  </div>
</footer>
