.search-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field-label {
  display: flex;
  flex-direction: column;

  input {
    width: 200px;
    padding: 10px;

    border: none;
    outline: none;

    border-radius: 4px;
    background: #EFEFEF;
  }
}
