<div>
  <div class="wrapper-header">
    <h1 class="visuallyhidden">youtube-client</h1>
    <app-header
      [toggleShowFilter]="toggleShowFilter"
      [setSearchValue]="setSearchValue"
      [handleSearch]="handleSearch"
    ></app-header>
    <app-filtering
      [isShowFilters]="isShowFilters"
      [handleSortDate]="handleSortDate"
      [handleSortViews]="handleSortViews"
      [handleFilterWords]="handleFilterWords"
    ></app-filtering>
  </div>
  <div
    class="wrapper-content"
    *ngIf="isShowResults"
  >
    <div class="content">
      <app-result-block
        class="data-wrapper"
        [items]="items"
      ></app-result-block>
    </div>
  </div>
</div>
