.label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #2F80ED;

  input {
    width: 200px;
    padding: 10px;

    border: none;
    outline: none;

    border-radius: 4px;
    background: #EFEFEF;
  }
}
