<div class="app-wrapper">
  <div class="wrapper-header">
    <h1 class="visuallyhidden">youtube-client</h1>
    <app-header></app-header>
  </div>
  <router-outlet></router-outlet>
  <!--     <app-filtering></app-filtering>-->
  <!-- <div
    class="wrapper-content"
    *ngIf="isShowResults"
  >
    <div class="content">
      <app-result-block
        class="data-wrapper"
        [items]="items"
      ></app-result-block>
      <router-outlet></router-outlet>
    </div>
  </div> -->
  <app-footer class="app-footer"></app-footer>
</div>
