.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #4e7693;
    margin: 50px 0 20px;
  }

  i {
    margin: 20px;
    display: inline-block;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../../assets/icons/404-error.svg');
  }
}
